*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    background-color: rgb(3, 3, 3);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
}
.menu{
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.usuario{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    
 
}
.usuario span{
    background-color: rgb(56, 57, 58);
    padding: 0.6em;
    border: 2px solid white;
    border-radius: 10%;
}

.usuario {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .menu-usuario {
    display: none;
    position: absolute;
    right: 0;
    background: rgb(14, 13, 13);
    border: 1px solid #ccc;
    border-radius: 8px;
    list-style: none;
    padding: 8px 0;
    margin: 20px 0 0 0;
    min-width: 120px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  }

  .menu-usuario li {
    padding: 10px 50px;
    z-index: 100;
  }

  .menu-usuario li:hover {
    color: black;
    background: #ffffff;
  }